<header>
    <div style="display:flex;justify-content:center">
       <img src="./modules/MMM-GHIN/images/golf-ball-on-tee.png" class="logo"/><h1>GHIN Stats</h1>
    </div>
</header>
{% if not loaded %}
    <div class="dimmed light">{{ "LOADING" | translate }}</div>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Current Handicap</th>
                <th>Low Handicap</th> 
                <th>Scoring Average</th>
            </tr>
        </thead>
        <tbody>
            <tr class="centered-row stats-row">
                <td>{{ user.handicap_index }}</td>
                <td>{{ user.low_hi }} <small>({{ user.low_hi_date }})</small></td>
                <td>{{ stats.average }}</td>
            </tr>
        </tbody>
    </table>
    <div class="table-wrapper">
    <table class="scores-table table">
        <caption class="align-middle">Most Recent Scores</caption>
        <thead class="fixed-header">
            <tr>
                <th>Date</th>
                <th>Course Name</th>
                <th>Holes</th>
                <th>Tee Box</th>
                <th>Score</th>
                <th>Differential</th>
                <th>PCC</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr class="centered-row">
                    <td class="">{{ score.played_at }}</td>
                    <td>{{ score.course_display_value }}</td>
                    <td>{{ score.number_of_played_holes }}</td>
                    <td>{{ score.tee_name }}</td>
                    
                    <td>{{ score.adjusted_gross_score }}</td>
                    {% if score.adjusted_scaled_up_differential != null %}
                    <td>{{ score. adjusted_scaled_up_differential}} / {{ score.differential }}</td>
                    {% else %}
                    <td>{{ score.differential }}</td>
                    {% endif %}
                    <td>
                     {% if score.pcc != 0 %}
                        {{ score.adjustments[0].display }}
                     {% endif %}
                    </td>
                </tr>
                {% if score.hole_details.length > 0%}
                <tr class="">
                    <td colspan="7">
                    <table class="xsmall hole-by-hole">
                     <caption>Hole by Hole</caption>
                        <thead>
                            <tr>
                                <th class="start">Hole</th>
                                {% for hole in score.hole_details %}
                                <th>{{ hole.hole_number }}</th>
                                {% endfor %}
                            </tr>

                        </thead>
                        <tbody>
                            <tr class="centered-row">
                                <td class="start"><strong>Score</strong></td>
                                {% for hole in score.hole_details %}
                                {% if  hole.adjusted_gross_score == hole.par %}
                                    {% set par = "par" %}
                                {%  elif hole.adjusted_gross_score == (hole.par + 1) %}
                                    {% set par = "bogey" %}
                                {%  elif hole.adjusted_gross_score == (hole.par + 2) %}
                                    {% set par = "double-bogey" %}
                                {%  elif hole.adjusted_gross_score == (hole.par + 3) %}
                                    {% set par = "triple-bogey" %}
                                {%  elif hole.adjusted_gross_score == (hole.par - 1) %}
                                    {% set par = "birdie" %}
                                {%  elif hole.adjusted_gross_score == (hole.par - 2) %}
                                    {% set par = "eagle" %}
                                {% else %}
                                    {% set par = "unknown" %}
                                {% endif %}
                                <td>                                 
                                    <span class="{{ par }}">
                                    {{ hole.adjusted_gross_score }}
                                    </span>
                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                {% else %}
                {% endif %}
            {% else %}
                <tr class="centered-row">
                    <td colspan="7">No scores posted yet!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}
